{namespace com.tomakehurst}

/**
 * Global messages template
 */
{template .globalMessages}
    <p>Injected data I: <strong>{$ij.globalMessage1}</strong></p>
    <p>Injected data II: <strong>{$ij.globalMessage2}</strong></p>
{/template}